<a href="https://colab.research.google.com/github/Jit562/Date_Time_ananlysis/blob/main/date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas as pd
import numpy as np
import datetime

In [128]:
df = pd.read_csv('drive/MyDrive/Dataset/Auto Sales data.csv')

In [129]:
dff = pd.read_csv('drive/MyDrive/Dataset/phone_data.csv')

In [130]:
dff.head(4)

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile

In [131]:
df.head(4)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,24/02/2018,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,07/05/2018,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,01/07/2018,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,25/08/2018,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB

In [133]:
# Covert the ORDERDATE objects(string) in to datetime formate

df['ORDERDATE']  = pd.to_datetime(df['ORDERDATE'])

<ipython-input-133-a59a60b0d963>:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['ORDERDATE']  = pd.to_datetime(df['ORDERDATE'])

In [149]:
df['ORDER_YEAR'] = df['ORDERDATE'].dt.year
df['ORDER_YEAR']

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
2742    2019
2743    2020
2744    2020
2745    2020
2746    2020
Name: ORDER_YEAR, Length: 2747, dtype: int32

In [135]:
df['ORDER_MONTH'] = df['ORDERDATE'].dt.month

In [150]:
df['ORDER_MONTH']

0        2
1        5
2        7
3        8
4       10
        ..
2742    12
2743     1
2744     3
2745     3
2746     5
Name: ORDER_MONTH, Length: 2747, dtype: int32

In [136]:
df['ORDER_DAY'] = df['ORDERDATE'].dt.day

In [151]:
df['ORDER_DAY']

0       24
1        7
2        1
3       25
4       28
        ..
2742     2
2743    31
2744     1
2745    28
2746     6
Name: ORDER_DAY, Length: 2747, dtype: int32

In [137]:
df['ORDER_MONTH_NAME'] = df['ORDERDATE'].dt.month_name()

In [152]:
df['ORDER_MONTH_NAME']

0       February
1            May
2           July
3         August
4        October
          ...
2742    December
2743     January
2744       March
2745       March
2746         May
Name: ORDER_MONTH_NAME, Length: 2747, dtype: object

In [138]:
df['ORDER_DAY_WEEK'] = df['ORDERDATE'].dt.dayofweek

In [153]:
df['ORDER_DAY_WEEK']

0       5
1       0
2       6
3       5
4       6
       ..
2742    0
2743    4
2744    6
2745    5
2746    2
Name: ORDER_DAY_WEEK, Length: 2747, dtype: int32

In [139]:
df['ORDER_DAY_NAME'] = df['ORDERDATE'].dt.day_name()

In [154]:
df['ORDER_DAY_NAME']

0        Saturday
1          Monday
2          Sunday
3        Saturday
4          Sunday
          ...
2742       Monday
2743       Friday
2744       Sunday
2745     Saturday
2746    Wednesday
Name: ORDER_DAY_NAME, Length: 2747, dtype: object

In [140]:
df['ORDER_DAY_WEEK_NAME'] = np.where(df['ORDER_DAY_NAME'].isin(['Sunday','Saturday']), 1,0)

In [155]:
df['ORDER_DAY_WEEK_NAME']

0       1
1       0
2       1
3       1
4       1
       ..
2742    0
2743    0
2744    1
2745    1
2746    0
Name: ORDER_DAY_WEEK_NAME, Length: 2747, dtype: int64

In [163]:
df['ORDER_WEEK_IN_YAER'] = df['ORDERDATE'].dt.isocalendar().week

In [164]:
df['ORDER_WEEK_IN_YAER']

0        8
1       19
2       26
3       34
4       43
        ..
2742    49
2743     5
2744     9
2745    13
2746    19
Name: ORDER_WEEK_IN_YAER, Length: 2747, dtype: UInt32

In [143]:
df['ORDER_QUARTER'] = df['ORDERDATE'].dt.quarter

In [165]:
df['ORDER_QUARTER']

0       1
1       2
2       3
3       3
4       4
       ..
2742    4
2743    1
2744    1
2745    1
2746    2
Name: ORDER_QUARTER, Length: 2747, dtype: int32

In [144]:
df['ORDER_SAMESTER'] = np.where(df['ORDER_QUARTER'].isin([1,2]),1,2)

In [166]:
df['ORDER_SAMESTER']

0       1
1       1
2       2
3       2
4       2
       ..
2742    2
2743    1
2744    1
2745    1
2746    1
Name: ORDER_SAMESTER, Length: 2747, dtype: int64

In [173]:
selected_columns = ['ORDERDATE', 'ORDER_YEAR', 'ORDER_WEEK_IN_YAER','ORDER_MONTH', 'ORDER_MONTH_NAME', 'ORDER_DAY',
                    'ORDER_DAY_WEEK', 'ORDER_DAY_NAME', 'ORDER_DAY_WEEK_NAME',
                    'ORDER_QUARTER', 'ORDER_SAMESTER']

filtered_df = df[selected_columns]

In [174]:
filtered_df

,ORDERDATE,ORDER_YEAR,ORDER_WEEK_IN_YAER,ORDER_MONTH,ORDER_MONTH_NAME,ORDER_DAY,ORDER_DAY_WEEK,ORDER_DAY_NAME,ORDER_DAY_WEEK_NAME,ORDER_QUARTER,ORDER_SAMESTER
0,2018-02-24,2018,8,2,February,24,5,Saturday,1,1,1
1,2018-05-07,2018,19,5,May,7,0,Monday,0,2,1
2,2018-07-01,2018,26,7,July,1,6,Sunday,1,3,2
3,2018-08-25,2018,34,8,August,25,5,Saturday,1,3,2
4,2018-10-28,2018,43,10,October,28,6,Sunday,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...
2742,2019-12-02,2019,49,12,December,2,0,Monday,0,4,2
2743,2020-01-31,2020,5,1,January,31,4,Friday,0,1,1
2744,2020-03-01,2020,9,3,March,1,6,Sunday,1,1,1
2745,2020-03-28,2020,13,3,March,28,5,Saturday,1,1,1
2746,2020-05-06,2020,19,5,May,6,2,Wednesday,0,2,1

In [175]:
# Find the Today date tiem

today = datetime.datetime.today()

In [176]:
today - df['ORDERDATE']

0      2260 days 11:56:29.025740
1      2188 days 11:56:29.025740
2      2133 days 11:56:29.025740
3      2078 days 11:56:29.025740
4      2014 days 11:56:29.025740
                  ...
2742   1614 days 11:56:29.025740
2743   1554 days 11:56:29.025740
2744   1524 days 11:56:29.025740
2745   1497 days 11:56:29.025740
2746   1458 days 11:56:29.025740
Name: ORDERDATE, Length: 2747, dtype: timedelta64[ns]

In [177]:
np.round((today - df['ORDERDATE']) / np.timedelta64(1,'M'),0)

0       73.0
1       71.0
2       69.0
3       67.0
4       65.0
        ...
2742    52.0
2743    50.0
2744    49.0
2745    48.0
2746    47.0
Name: ORDERDATE, Length: 2747, dtype: float64

In [178]:
# Find the Time data

dff['date'] = pd.to_datetime(dff['date'])

<ipython-input-178-062f88cf54fb>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dff['date'] = pd.to_datetime(dff['date'])

In [179]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         830 non-null    int64
 1   date          830 non-null    datetime64[ns]
 2   duration      830 non-null    float64
 3   item          830 non-null    object
 4   month         830 non-null    object
 5   network       830 non-null    object
 6   network_type  830 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 45.5+ KB

In [180]:
dff['Hours'] = dff['date'].dt.hour

In [187]:
dff['Hours']

0       6
1       6
2      14
3      14
4      17
       ..
825     0
826     0
827     6
828     0
829     0
Name: Hours, Length: 830, dtype: int32

In [181]:
dff['Minutes'] = dff['date'].dt.minute

In [188]:
dff['Minutes']

0      58
1      58
2      46
3      48
4      27
       ..
825    38
826    39
827    58
828    13
829    16
Name: Minutes, Length: 830, dtype: int32

In [182]:
dff['Second'] = dff['date'].dt.second

In [189]:
dff['Second']

0      0
1      0
2      0
3      0
4      0
      ..
825    0
826    0
827    0
828    0
829    0
Name: Second, Length: 830, dtype: int32

In [183]:
dff['Time'] = dff['date'].dt.time

In [190]:
dff['Time']

0      06:58:00
1      06:58:00
2      14:46:00
3      14:48:00
4      17:27:00
         ...
825    00:38:00
826    00:39:00
827    06:58:00
828    00:13:00
829    00:16:00
Name: Time, Length: 830, dtype: object

In [184]:
today - dff['date']

(today - dff['date']) / np.timedelta64(1,'s')

0      3.013811e+08
1      3.013811e+08
2      3.013530e+08
3      3.013529e+08
4      3.013434e+08
           ...
825    2.885303e+08
826    2.885302e+08
827    2.885075e+08
828    2.884454e+08
829    2.884452e+08
Name: date, Length: 830, dtype: float64

In [185]:
(today - dff['date']) / np.timedelta64(1,'m')

0      5.023018e+06
1      5.023018e+06
2      5.022550e+06
3      5.022548e+06
4      5.022389e+06
           ...
825    4.808838e+06
826    4.808837e+06
827    4.808458e+06
828    4.807423e+06
829    4.807420e+06
Name: date, Length: 830, dtype: float64

In [186]:
(today - dff['date']) / np.timedelta64(1,'h')

0      83716.974729
1      83716.974729
2      83709.174729
3      83709.141396
4      83706.491396
           ...
825    80147.308063
826    80147.291396
827    80140.974729
828    80123.724729
829    80123.674729
Name: date, Length: 830, dtype: float64